{% extends 'base.html' %}
    <!-- Load the ag-grid styles and scripts -->
{% block content %}
<div class="example-wrapper">
    <div style="margin-bottom: 5px">
        <button onclick="onBtApplyOneTransaction()">One Transaction</button>
        <button onclick="onBtStart()">Start Feed</button>
        <button onclick="onBtStop()">Stop Feed</button>
    </div>
    <div id="myGrid" class="ag-theme-alpine-dark">
    </div>
</div>
    <script>var __basePath = './';</script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@28.2.1/dist/ag-grid-enterprise.min.js">
    </script>
    <script content-type="text/javastript" src="/static/js/data.js">
    </script>
    <script content-type="text/javascript" src="/static/js/main.js">
    </script>


{% endblock %}
